.projects {
  margin: 75px auto;
  padding: 20px;
  padding-top: 5px;
  text-align: center;
  background-color: var(--secondary-background-color);

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  h2 {
    margin-top: 1rem;
    padding-top: 1rem;
  }
  &__description {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .projects {
    margin: 0;
    padding: 0 0 30px 0;
  }
}
