.cardSkill {
  width: 100px;
  height: 100px;
  margin: 10px;
  position: relative;
  display: inline-block;
  border: solid 1px var(--text-color);

  &__logo {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 1;
  }
  &__title {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: var(--text-color);
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    margin-top: 10px;
    transition: opacity 0.3s ease-in-out;
  }
}

.cardSkill:hover {
  background-color: var(--hover-color);
  .cardSkill__title {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 700px) {
  .cardSkill {
    width: 70px;
    height: 70px;
    &__logo {
      width: 70px;
      height: 70px;
    }
  }
}
