.skills {
  text-align: center;
  margin: 20px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.skills__item {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.skills__icon {
  width: 80px; 
  height: 80px;
}

.skills__name {
  font-size: 1.2rem;
}
