.home {
  text-align: center;
  &__title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    height: 4rem;
  }
  &__description {
    margin: 0 30rem;
    font-size: 1.3rem;
    color: var(--text-color);
    text-shadow: 1px 1px 0 var(--background-color);
  }
  &__container {
    position: relative;
    height: 800px;
    overflow: hidden;

    h1 {
      position: relative;
      text-align: center;
      margin-top: 100px;
      margin-bottom: 10px;
    }
  }
  &__background-image {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 900px;
    height: 900px;
    object-fit: contain;
    opacity: 0.5;
    z-index: -1;
    transform: translate(-50%, -50%);
  }

  &__transition {
    color: var(--hover-color);
    display: inline-block;
    padding-left: 30px;
    font-size: 4rem;
    width: 17rem;
    position: relative;
    animation: slideIn 0.5s ease-in-out forwards;

    &.slide-out {
      animation: slideOut 0.5s ease-in-out forwards;
    }
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-100%);
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    height: 100%;
    padding: 20px;
    text-align: center;
    color: var(--text-color);

    p {
      margin-top: 200px;
    }
  }
}

@media screen and (max-width: 1560px) {
  .home {
    &__container {
      height: 600px;
      &::before {
        width: 600px;
      }
    }
    &__description {
      margin: 0 15rem;
    }
  }

  @media screen and (max-width: 900px) {
    .home {
      &__transition {
        font-size: 2.5rem;
        width: 15rem;
      }
      &__description {
        margin: 0 5rem;
      }
    }
  }
  @media screen and (max-width: 550px) {
    .home {
      &__transition {
        font-size: 1.5rem;
        width: 8rem;
      }
      &__description {
        margin: 0 1rem;
        font-size: 1rem;
      }
      &__content p {
        margin-top: 100px;
      }
      &__container {
        height: 450px;
        &::before {
          width: 400px;
        }
      }
    }
  }
}
