.contact {
  background-color: var(--secondary-background-color);
  padding-top: 5px;
  h2 {
    margin-top: 16px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__input {
    width: 20rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__send {
    padding-bottom: 150px;
  }
}
.button__send:hover {
  background-color: var(--hover-color);
  color: var(--background-color);
}
